/* Imposta altezza e larghezza del 100% su html e body */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #dfe5ea;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
}

a {
    text-decoration: none;
    color: inherit;
}

.full-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.card {
    color: black;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    min-height: 100%; /* Forza l'altezza minima */

}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    object-fit: cover; /* Ritaglia l'immagine senza distorcerla */
    height: 200px; /* Altezza uniforme per tutte le immagini */
    width: 100%; /* Adatta l'immagine alla larghezza della card */
}

.card-img-top-login {
    object-fit: cover; /* Ritaglia l'immagine senza distorcerla */
    height: 500px; /* Altezza uniforme per tutte le immagini */
    width: 100%; /* Adatta l'immagine alla larghezza della card */
}

i {
    color: #00263e;
}

.btn-rounded {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-outline-primary {
    color: #00263e;
    border-color: #00263e;
}

.btn-outline-primary:hover {
    background-color: #002030;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #00263e;
    border: none;
    color: white;
}


.btn-primary:hover {
    background-color: #002030;
    border: none;
    color: white;
}

.navbar {
    background-color: #00263e;
}

.card-header {
    background-color: #00263e;
    color: white;
}

.navbar-logo {
    width: 150px;
    height: auto;
}

.login-logo {
    width: 250px;
    height: auto;
}

.footer {
    background-color: #00263e;
}

.card-body.scrollable {
    max-height: 300px; /* Altezza fissa per il contenuto */
    overflow-y: auto; /* Abilita la barra di scorrimento verticale */
}




